<div class="container position-relative px-3">
  <h1 class="text-center h3">ITEMS LIST</h1>
  <!-- items list -->
  <div class="px-1" style="margin: 5rem auto 7rem">
    <ion-reorder-group
      [disabled]="false"
      (ionItemReorder)="reorderItems($event)"
    >
      <ion-item
        *ngFor="let c of itemsList"
        class="row py-1 my-1 align-items-center border"
      >
        <div class="col-3">
          <img
            class="item-img w-100"
            [src]="'/assets/items/' + c?.itemImage + '.png'"
            [alt]="c?.itemImage"
          />
        </div>
        <div class="col-5">
          <p class="mb-0 h4">{{c?.itemName}}</p>
          <p class="mb-0">{{c?.itemPrice | currency:'INR'}}</p>
        </div>
        <div class="col-2 text-center">
          <i
            class="bi bi-trash-fill fs-3 text-danger"
            (click)="deleteItem(c)"
          ></i>
        </div>
        <ion-reorder class="col-2"
          ><ion-icon name="move-outline"></ion-icon></ion-reorder
        >
      </ion-item>
    </ion-reorder-group>
  </div>
</div>
