<div class="container p-3">
  <form class="row" [formGroup]="createStoreForm" (ngSubmit)="createStore()">
    <h2 class="text-center">Create store details</h2>
    <div>
      <input
        class="form-control app-form"
        type="text"
        placeholder="Store Name"
        formControlName="storeName"
      />
    </div>
    <div>
      <input
        class="form-control app-form"
        type="tel"
        placeholder="Mobile Number"
        formControlName="storeNumber"
      />
    </div>
    <div>
      <textarea
        class="form-control app-form"
        name="address"
        placeholder="Address"
        cols="30"
        rows="4"
        formControlName="storeAddress"
      ></textarea>
    </div>
    <div class="mt-3">
      <button class="app-btn app-bg-secondary w-100" [disabled]="createStoreForm.invalid">Create Store</button>
    </div>
  </form>
</div>
