:root {
  --primary-color: black;
  --secondary-color: white;
  --highlight-color: #75ff9e;
}
/* global app colors */

.app-bg-primary {
  background-color: var(--secondary-color);
}

.app-text-primary {
  color: var(--primary-color);
}

.app-text-highlight {
  color: var(--highlight-color);
}

.app-bg-highlight {
  background-color: var(--highlight-color);
}
