:root {
    --primary-color:  #eff4ef;
    --secondary-color:  #839EC8AD;
    --highlight-color: #fcda67;
  }
  /* global app colors */



.app-bg-primary {
    background-color: var(--secondary-color);
}

.app-text-primary {
    color: var(--primary-color);
}

.app-text-highlight {
    color: var(--highlight-color);
}

.app-bg-highlight {
    background-color: var(--highlight-color);
    color: black;
}
