:root {
  --primary-color: white;
  --secondary-color: #75ff9e;
}
/* global app colors */

.app-text-secondary {
  color: var(--secondary-color) !important;
}

.app-bg-secondary {
  background-color: var(--secondary-color) !important;
}
