<div class="container position-relative">
  <h1 class="text-center h3 py-3">Current Order</h1>
  <!-- items list -->
  <div class="px-1" style="margin-bottom: 7rem">
    <div
      class="row py-2 my-1 border align-items-center"
      *ngFor="let c of cartItems"
    >
      <div class="col-3">
        <img
          class="item-img w-100"
          [src]="'/assets/items/' + c?.itemImage + '.png'"
          alt="MEALS"
        />
      </div>
      <div class="col-5">
        <p class="mb-0 h4">{{c?.itemName}}</p>
        <p class="mb-0">
          {{c?.itemPrice}} * {{c?.count}} = {{c?.itemPrice * c?.count | currency:'INR'}}
        </p>
      </div>
      <div class="col-4">
        <i
          class="bi bi-dash-circle fs-2 me-2"
          (click)="decreaseCount(c?.itemName)"
        ></i>
        <span class="fw-bold"> {{c?.count}} </span
        ><i
          class="bi bi-plus-circle fs-2 ms-2"
          (click)="increaseCount(c?.itemName)"
        ></i>
      </div>
    </div>
    <!-- total items price  -->
    <div class="row py-3 fw-bold app-text-highlight">
      <div class="col-6 text-center">TOTAL PRICE :</div>
      <div class="col-6 text-end">{{totalPrice | currency:'INR'}}</div>
    </div>
  </div>
</div>

<!-- cart card -->
<div class="position-fixed bottom-0 start-0 end-0 w-100">
  <div class="container app-bg-highlight rounded">
    <div class="row px-2 py-4 align-items-center">
      <div class="col-6 text-center">
        <p>{{cartItems.length}} Items</p>
        <p class="mb-0">Total Price : {{totalPrice | currency:'INR'}}</p>
      </div>
      <div class="col-6 text-end">
        <button class="border-0 bg-transparent fw-bold">
          Receipt <i class="bi bi-arrow-right-circle-fill"></i>
        </button>
      </div>
    </div>
  </div>
</div>
