<ion-app>
  <header class="row py-3 m-0">
    <div class="col-2 header-icon d-flex justify-content-center">
      <i class="fs-3 bi bi-menu-button-wide cursor-pointer"></i>
    </div>
    <div class="col-8 text-center"><h1 class="h5">My Bill My Hottel</h1></div>
    <div class="col-2 header-icon qr-icon d-flex justify-content-center">
      <i
        routerLink="/add-items"
        class="fs-3 bi bi-qr-code-scan cursor-pointer"
      ></i>
    </div>
  </header>
  <router-outlet></router-outlet>
</ion-app>
