html,
body {
  // height: 100%;
  margin: 0;
  background-color: var(--secondary-color) !important;
  color: var(--primary-color) !important;
}

body {
  font-family: "Concert One", cursive;
}

/* Unitilities */

.cursor-pointer {
  cursor: pointer;
}

*::-webkit-scrollbar {
  width: 0 !important;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a {
  text-decoration: none !important;
}

.app-btn {
  border: 0;
  border-radius: .5rem;
  padding: .6rem 0;
}

.app-form {
  margin: 0.5rem 0;
}

